 /* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@900&display=swap');

/* selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.color1 {
  background: #535252;
  color: #fff;
}

.color2 {
  background: #feb702;
  color: #1e1e1e;
}

.color3 {
  background: #c4af6d;
  color: #1e1e1e;
}

.color4 {
  background: #a19ef8;
  color: #020202;
}

.color5 {
  background: #cb3abd;
  color: #fff;
}

.color6 {
  background: #01e8f9;
  color: #fff;
}

.color7 {
  background: #27af3d;
  color: #060606;
}

.color8 {
  background: #fc4597;
  color: #fff;
}

.color9 {
  background: #a902fc;
  color: #fafafa;
}

.color10 {
  background: #fbff00;
  color: #080808;
}

.color11 {
  background:#c6c5c5;
  color:#000000;
}

.color12 {
  background:#fb0303;
  color: #000405;
}

.color13 {
  background:#3801ff;
  color: #fdfdfd;
}

/* container */
.container {
    min-height: 67vh;
    width: 100vw;
    position: relative;
    background: #222;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

.periodic-table {
  position: relative;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(18, 5vw);
  grid-template-rows: repeat(7, 7vh);
  gap: 5px;
  overflow: hidden;
  z-index: 1;
}

.element {
  border: 1px solid #fff;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition: all .3s ease-in-out;
  overflow: hidden;
  font-weight: 500;
}

.element:hover {
  background: #fff;
  color: #1e1e1e;
}


/* popup */
.popupContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.popup {
  height: 40vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  text-align: left; 
  position: fixed;
  background: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 2;
  border-radius: 20px;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  transform: translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

.popup.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.popup.hidden {
  transform: translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

.popup #close-popup {
    font-size: 2rem;       
    font-weight: bold;     
    line-height: 1;        
    padding: 5px 10px;    
    position: absolute;    
    top: 10px;
    right: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.popup #close-popup:hover {
  background: #b8b8b8;
  color: #a94747;
  border-radius: 8px;
  transform: scale(1.1);
}

#popup-text, #popup-name {
  user-select: none;
  cursor: default;
}

#popup-name {
  white-space: nowrap;
  font-size: 1rem;
  transition: font-size 0.2s ease-in-out;
}

.element {
  user-select: none;
  cursor: pointer;
}

#close-popup {
  user-select: none;
}

.popup-content {
  overflow-y: visible;
}



/* tabel 2 */

.peridodicContainer {
    height: 34vh;
    width: 100vw;
    position: relative;
    background: #222;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    display: flex;
}

.periodic2 {
   position: relative;
  display: grid;
  grid-template-columns: repeat(18, 5vw);
  grid-template-rows: repeat(7, 7vh);
  gap: 5px;
  overflow: hidden;
  z-index: 1;
}

/* Overig */

.element.clicked {
  background: #000;
  color: #fff;
}

